language: php
php:
  - '5.6'
script:
  - bash 1_prepare.sh --prod
  - bash deploy_from_travis.sh
env:
  global:
    - GH_REF: github.com/dirtylab/dirtylab.github.io
    - GH_USER: Frosty-Z
    - GH_EMAIL: maxime.pacary@gmail.com
    - secure: WpOOiFulvwH3SDLj5fAgXz+0PFk/a0O8ps2pBIS8sp3FReb8aL4CHtK7DvKiNf2b9V9bScTzNpzv9C62PfUuMKSvxkXnzNl7qWraT9jl/jfU7WSmfSvH4Hqj7k1XKdCNKzKmchozkkXy4d6EU5vgBv29aMKeXw1u48VioaPXHSkBeQG5f0ejelrzgLHLt+s30sE4Yap5KP5LgqO3b5i0XerKsvXhPTZiqYASZST3PvIZ5Tofx3/PLq6l4e3oc8ZYAJ3b60iUtLfYM078HRCXSkCzwTMpOMDBP0chMUprV+hszoNTzXsuno4T0dtgME0ffiCuyywt6xyiISgegzLh8obp0FvZfUVuOfKkOCnA0nCa+Qc8+WIDHgOdYnJI8Kwz6Pd3/Ky9GKOMpvCxgvSfumEDkPO/nq00d8qQw637vYDlqvXG61cKkqGdJt1sDxaNGFmUDysepSRSZ61E57qf5DgO7R/H2qomwbIYU95j+SRHXaYAE0nwMaLdf3THrz3zJxWb8kN6H/pVMlxsSXEacdh75cmw6/e2ujz/3nRNeTMfvMs5yfBgrjrR9FYvcxgwYcDIdnDBTM8f4GqZRMzH6GSSiuF6AVRmr17pqFIwDclVJigrmOj08LDkYuRrCzUd4soFlrbuOAcPI9JKF7QeqSV9ssokdBXASB/M99cTntI=
