#header {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  top: 0;
  left: 0;
  width: 100%;
  height: $top-height;
  min-height: $min-height-top;
  box-sizing: border-box;
  border-bottom: 1px solid $delight-border;
  background-color: $dashboard_background;
  > a#logo {
    order:1;
    > img {
      height: 100%;
      background-color: $body_background_color;
      box-sizing: border-box;
      border:1px solid $delight-border;
    }
  }
  img {
    box-sizing: border-box;
  }
  > ul#social {
    order:2;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    justify-content:  center;
    flex-wrap: wrap;
    padding: 0;
    margin-top:auto;
    margin-bottom:auto;
    li {
      display: inline-block;
      list-style-type: none;
      > a {
        box-sizing: border-box;
      }
      img {
        max-height: 100%;
      }
      +li {
        border-left: 1px solid $delight-border;
      }
    }

  }

}