$ahref_color: #555;
$light-gray: #bbb;
$delight-border: #ddd;
$success_color: #4b4;
$success_background: #cec;
$info_color: #44b;
$info_background: #cce;
$warning_color: #bb4;
$warning_background: #eec;
$error_color: #b44;
$error_background: #ecc;
$content-backgrd: #f5f3e7;
$ahref_link_color: #808080;
$color_shady_lady_approx: #a5a5a5;
$nav_color: #474747;
$nav_selected_color: #000;
$color_bright_turquoise_2_approx: rgba(0, 195, 253, 0.02);

$top-height:8vh;
$bottom-height:92vh;

//fonts
$font_0: sans-serif;

//@extend-elements
//original selectors
//table th, td
%table-style {
  white-space: nowrap;
  border: 1px solid $light-gray;
  padding: 5px 10px;
}

//original selectors
//#header h1, #header p
%text-style {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

//original selectors
//#nav li.section >span, #nav li.section >a
%nav-section {
  font-size: 14px;
  color: $nav_color;
  text-transform: uppercase;
}


a {
  color: $ahref_color;
  &:visited {
    color: $ahref_color;
    text-decoration: none;
  }
  &:active {
    color: $ahref_color;
  }
  &:hover {
    color: $ahref_color;
  }
  &:link {
    color: $ahref_link_color;
    text-decoration: none;
  }
}
table {
  border-collapse: collapse;
  th {
    @extend %table-style;
    text-align: center;
    background-color: $delight-border;
  }
  td {
    white-space: normal;
  }
}
td {
  @extend %table-style;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.message {
  padding: 10px 20px;
  &.success {
    border: 1px solid $success_color;
    background-color: $success_background;
  }
  &.info {
    border: 1px solid $info_color;
    background-color: $info_background;
  }
  &.warning {
    border: 1px solid $warning_color;
    background-color: $warning_background;
  }
  &.error {
    border: 1px solid $error_color;
    background-color: $error_background;
  }
}
body {
  font-family: $font_0;
}

.markdown-body {
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}
#header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: $top-height;
  overflow: visible;
  box-sizing: border-box;
  border-bottom: 1px solid $delight-border;
  background-color: $content-backgrd;
  > a#logo {
    order:1;
  }

  img {
    max-height: $top-height;
    padding: 5px;
    box-sizing: border-box;
  }

  > ul#social {
    order:2;
    flex-grow: 1;
    text-align: right;
    margin:auto;
    height: 100%;
    li {
      display: inline-block;
      list-style-type: none;
      height: 100%;
      a {
        margin:auto;
      }
      img {
        height:$top-height;
        max-height: 60px;
        @media (max-width:650px) {
          max-height: 50px;
        }
        @media (max-width:570px) {
          max-height: 40px;
        }
        @media (max-width:514px) {
          display: none;
        }
      }
    }
  }
}

#nav {
  position: fixed;
  top: $top-height;
  font-weight: 200;
  left: 0;
  max-width: 200px;
  height: $bottom-height;
  background-color: $content-backgrd;
  @media (max-width:799px) {
    display: none;
  }
  * {
    max-width: inherit;
  }
  > ul {
    margin-left: 5px;
    padding-left: 0;
    > li {
      font-size: 15px;
    }
  }
  a {
    color: $ahref_link_color;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      > span {
        outline: lighten($nav_color,40) solid 1px;
      }
    }
  }
  li {
    font-size: 10pt;
    list-style-type: none;
    margin: 5px 0;
    padding-left: 0;
    &.section {
      > span {
        @extend %nav-section;
      }
      > a {
        @extend %nav-section;
      }
      > ul li.section {
        > span {
          font-size: 13px;
        }
        > a {
          font-size: 13px;
        }
      }
    }
    &.current {
      font-weight: bold;
      > a {
        color: $nav_selected_color;
      }
    }
  }
  ul > li > ul {
    padding-left: 10px;
    border-left: 7px solid $light-gray;
    > li > ul {
      padding-left: 14px;
      border-left: 3px solid $color_shady_lady_approx;
    }
  }
}


#content {
  margin-top: $top-height;
  padding: 20px;
  margin-left: auto;
  @media(max-width: 1395px) {
    margin-left: 200px;
  }
  @media(max-width:799px) {
    margin:0;
  }
  height: 100%;
  overflow: hidden;
  background-color: $color_bright_turquoise_2_approx;
  table th {
    white-space: normal;
  }
}
:target:before {
  content: "";
  display: block;
  height: 110px;
  margin: -110px 0 0;
}