$color_fuscous_gray_approx: #555;
$light-gray: #bbb;
$delight-border: #ddd;
$color_apple_approx: #4b4;
$color_surf_crest_approx: #cec;
$color_governor_bay_approx: #44b;
$color_periwinkle_gray_approx: #cce;
$color_turmeric_approx: #bb4;
$color_aths_special_approx: #eec;
$color_chestnut_approx: #b44;
$color_oyster_pink_approx: #ecc;
$nav-backgrd: #f5f3e7;
$gray: #808080;
$color_shady_lady_approx: #a5a5a5;
$fancy-dark-gray: #474747;
$black: #000;
$color_bright_turquoise_2_approx: rgba(0, 195, 253, 0.02);

$top-height:8vh;
$bottom-height:92vh;