$black : #000;
$light_gray : #bbb;
$delight-border: #ddd;


$success_color: #4b4;
$success_background: #cec;
$info_color: #44b;
$info_background: #cce;
$warning_color: #bb4;
$warning_background: #eec;
$error_color: #b44;
$error_background: #ecc;

$dashboard_background: rgb(244, 244, 254);
$body_background_color: rgba(233, 245, 245, 0.48);

$ahref_link_color: #808080;
$ahref_color: #555;

$nav_small_sections_border:3px solid #a5a5a5;
$nav_color: #474747;
$nav_selected_color: #000;
$nav-width:200px;
$nav_big_sections_border: 7px solid $light_gray;

$content_max_width:980px;
$content_background: rgba(0, 0, 255, 0.03);
$content_ahref_color: #a10000;

$top-height:10vh;
$bottom-height:90vh;

//fonts
$default_font: sans-serif;
$content-font:'Muli';