.button {
  background-color: #cfcbe9;
  border: none;
  height: 50px;
  width: 50px;
  display: inline-block;
  box-sizing: border-box;
  &.success {
    background-color: #81e781;
  }
  &+.button {
    border-left:1px solid rgba(138, 138, 138, 0.47);
  }
  &:hover {
    background-color: #7a7a7a;
    cursor: hand;
  }
  padding: 2px;
  > img {
    width: auto;
    height: 100%;
  }

}
