
<nav id="nav">

  {% capture relative_page_url %}{{ page.url | replace_first:'/', '' }}{% endcapture %}
  <div id="nav-wrapper">
    <ul>
      {% for res in site.data.structure %}
      {% include nested.html resource=res pathprefix="" %}
      {% endfor %}
    </ul>
  </div>
  <div id="interact-bar">
    {% for action in site.data.actions %}
    {% assign resource=page.url | replace: '.html', '.MD' %}
    {% if site.data.exceptions | map:"url" contains page.url %}
      {% capture resource %}
        {% for exc in site.data.exceptions %}
        {% if exc.url == page.url %}
          {{ exc.replacement }}
        {% endif %}
        {% endfor %}
      {% endcapture %}
    {% endif %}
    <a href="{{action.url}}{{resource | replace:' ','' }}"
       class="button hint--bounce hint--{{action.direction}} success"
       data-hint="{{action.hover}}"
       target="_blank">
      <img src="{{action.img}}">
    </a>
    {% endfor %}
  </div>
</nav>
