{% capture buildPath %}{{include.pathprefix}}/{{include.resource.path}}{% endcapture %}
{% capture checkPath %}{{buildPath}}.html{% endcapture %}
{% capture liClass %}
    {% if page.url == checkPath %}
        current
    {% endif %}
{% endcapture %}

{% if include.resource.folder %}
    <li class="{{liClass}} section">
        {% if include.resource.file %}
            <a href="{{buildPath}}.html" class="" data-hint-bck="{{include.resource.hover}}">
                <span>{{ include.resource.name }}</span>
            </a>
        {% else %}
            <span class=" " data-hint-bck="{{include.resource.hover}}">{{ include.resource.name }}</span>
        {% endif %}
        <ul>
            {% if include.resource.autoparse %}
                {% assign sortedPages=site.pages | sort: 'url' %}
                {% for pg in  sortedPages %}
                    {% capture buildPath %}{{include.pathprefix}}/{{include.resource.path}}/{% endcapture %}
                    {% capture filePath %}{{pg.url}}{% endcapture %}
                    {% if filePath contains buildPath %}
                    {% capture liClassNested %}{% if page.url == filePath  %}current{% endif %}{% endcapture %}
                        <li class="{{liClassNested}}">
                            <a href="{{filePath}}"  >
                                <span>{{ filePath | replace: buildPath, '' | replace: ".html", '' }}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for child in include.resource.children %}
                    {% capture buildPath %}{{include.pathprefix}}/{{include.resource.path}}{% endcapture %}
                    {% include nested.html resource=child pathprefix=buildPath  %}
                {% endfor %}
            {% endif %}
        </ul>
    </li>

{% else %}
    <li class="{{liClass}}">
        <a href="{{buildPath}}.html" class="" data-hint-bck="{{include.resource.hover}}">
            <span>{{ include.resource.name }}</span>
        </a>
    </li>
{% endif %}