{% capture buildPath %}{{include.pathprefix}}/{{include.resource.path}}{% endcapture %}

{% if include.resource.folder %}
    <li>
        {% if include.resource.file %}
            <a href="{{buildPath}}.html">
                <strong>{{ include.resource.name }}</strong>
            </a>
        {% else %}
            <strong>{{ include.resource.name }}</strong>
        {% endif %}

    </li>
    <ul>
        {% if include.resource.autoparse %}
            {% for file in site.files %}
                {% capture buildPath %}{{include.pathprefix}}/{{include.resource.path}}/{% endcapture %}
                {% capture filePath %}/{{file}}{% endcapture %}
                {% if filePath contains buildPath %}
                    <li>
                        <a href="{{filePath}}.html">
                            <em>{{ filePath | replace: buildPath, '' }}</em>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for child in include.resource.children %}
                {% capture buildPath %}{{include.pathprefix}}/{{include.resource.path}}{% endcapture %}
                {% include nested.html resource=child pathprefix=buildPath  %}
            {% endfor %}
        {% endif %}

    </ul>
{% else %}
    <li>
        <a href="{{buildPath}}.html">
            <em>{{ include.resource.name }}</em>
        </a>
    </li>
{% endif %}